*.ap_
*.apk
*.bak
*.class
*.ctxt
*.dex
*.ear
*.iml
*.iws
*.jar
*.launch
*.log
*.nar
*.pydevproject
*.rar
*.swp
*.tar.gz
*.tmp
*.war
*.zip
*~.nib
.autotools
.buildpath
.cache-main
.cproject
.externalNativeBuild
.externalToolBuilders/
.factorypath
.gradle/
.idea/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/assetWizardSettings.xml
.idea/caches
.idea/dictionaries
.idea/httpRequests
.idea/replstate.xml
.idea/tasks.xml
.idea_modules/
.loadpath
.metadata
.mtj.tmp/
.navigation/
.recommenders
.recommenders/
.scala_dependencies
.settings/
.springBeans
.target
.tern-project
.texlipse
.worksheet
atlassian-ide-plugin.xml
bin/
build/
captures/
cmake-build-debug/
cmake-build-release/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline.py
freeline/
freeline_project_description.json
gen/
google-services.json
hs_err_pid*
local.properties
out/
proguard/
src/test/groovy/HeyWtf.groovy
tmp/
